* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: "#000" !important;
  padding: "0";
}

.App {
  overflow: hidden;
  padding: 0 !important;
}

.navLink {
  color: #BAC0C7;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

/* .active {
  color: #000;
  text-decoration: none;
  font-weight: bold !important;

}

.active:after {
  content: '';
  width: 10px;
  height: 10px;
  float: left;
  background-color: #08D3BB;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

.active .css-cveggr-MuiListItemIcon-root {
  color: #000;
} */

.navstylelist .MuiButtonBase-root {
  display: flex !important;

}

.navstylelist .MuiListItemButton-root {
  padding: 8px 16px !important;
  justify-content: flex-start !important;
}


/* .css-43lv23-MuiPaper-root {
     display: flex !important;
    flex-direction: column  !important;
    justify-content: center  !important;
    padding: 50px  !important; 
  } */

.slideCardImg .css-o69gx8-MuiCardMedia-root {
  width: 100% !important;
}

.preloaderp {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

.preloaderp .css-215w7l {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.react-multi-carousel-track {}

.MuiButton-root {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid;
  border: 0;

}

.logoTitle {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  color: #000;
}

.slbtn {
  text-decoration: none;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  padding-right: 0 !important;
}

.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop {
  width: 100% !important;
  overflow: hidden !important;
  padding: 0 !important;
}

.sidebar .MuiSvgIcon-root {
  color: rgb(209, 213, 219);
  /* transition: all 0.50s linear; */
}

.sidebar .css-i4bv87-MuiSvgIcon-root {
  color: rgb(209, 213, 219);

}

.active,
.active .MuiSvgIcon-root {
  text-decoration: none;
  color: rgb(16, 185, 129);
}
.btnBg{
  margin: 0 !important;
}
.active .btnBg {
  /* background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  transition: all 0.50s linear; */
  padding: 0;
}

.btnBg:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
border-radius: 8px;
}
.btnBg:hover .MuiSvgIcon-root {
  color: rgb(16, 185, 129);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.updateBtn{
  margin: 0 10px 0 0 !important;
}
.link .MuiListItem-root{
  padding: 0 !important;
}
.navText{
  margin: 0 10px;
}