* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: "#000" !important;
  padding: "0";
}

.App {
  overflow: hidden;
  padding: 0 !important;
}

.navLink {
  color: #BAC0C7;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

/* .active {
  color: #000;
  text-decoration: none;
  font-weight: bold !important;

}

.active:after {
  content: '';
  width: 10px;
  height: 10px;
  float: left;
  background-color: #08D3BB;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 8px;
}

.active .css-cveggr-MuiListItemIcon-root {
  color: #000;
} */

.navstylelist .MuiButtonBase-root {
  display: flex !important;

}

.navstylelist .MuiListItemButton-root {
  padding: 8px 16px !important;
  justify-content: flex-start !important;
}


/* .css-43lv23-MuiPaper-root {
     display: flex !important;
    flex-direction: column  !important;```````````
    padding: 50px  !important; 
  } */

.slideCardImg .css-o69gx8-MuiCardMedia-root {
  width: 100% !important;
}

.preloaderp {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

.preloaderp .css-215w7l {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.react-multi-carousel-track {}

.MuiButton-root {
  background: #000 !important;
  color: #fff !important;
  border: 1px solid;
  border: 0;

}

.logoTitle {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  color: #000;
}

.slbtn {
  text-decoration: none;
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root {
  padding-right: 0 !important;
}

.css-g3hgs1-MuiBackdrop-root-MuiModal-backdrop {
  width: 100% !important;
  overflow: hidden !important;
  padding: 0 !important;
}

.sidebar .MuiSvgIcon-root {
  color: rgb(209, 213, 219);
  /* transition: all 0.50s linear; */
}

.sidebar .css-i4bv87-MuiSvgIcon-root {
  color: rgb(209, 213, 219);

}

.active,
.active .MuiSvgIcon-root {
  text-decoration: none;
  color: rgb(16, 185, 129);
}
.btnBg{
  margin: 0 !important;
}
.active .btnBg {
  /* background-color: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  transition: all 0.50s linear; */
  padding: 0;
}

.btnBg:hover {
  background-color: rgba(255, 255, 255, 0.08) !important;
border-radius: 8px;
}
.btnBg:hover .MuiSvgIcon-root {
  color: rgb(16, 185, 129);
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.updateBtn{
  margin: 0 10px 0 0 !important;
}
.link .MuiListItem-root{
  padding: 0 !important;
}
.navText{
  margin: 0 10px;
}
body {margin:auto;padding:0;}

.cPanelContainer {
  margin:auto;
  padding:0;
}

.cPanelHeader {
  margin:auto;
  padding:50px 50px;
  background:#000;
  text-align:center;
}

.cPanelHeader > h3, .cPanelHeader > h5 {
  margin:auto;
  color:#f0f0f0;
  font-weight:100;
}

.cPanelFooter {
  margin:auto;
  padding:50px;
  background:#000;
  text-align:center;
}

.cPanelFooter > span {
  color:#f0f0f0;
  font-size:15px;
  font-weight:400;
}

.cPanelContent {
  margin:auto;
  padding:0;
  background:#000;
  text-align:center;
  display:flex;
  padding: 30px;
  margin: 50px 0;
  -webkit-box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
  box-shadow: 0 0 15px 2px rgba(0,0,0,0.1);
}

.cPanelSection {
  position:relative;
  flex:1;
  transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
  -webkit-transition:0.3s;
  padding:25px;
  border-right:1px solid #000;
  border-left:1px solid #000;

}

.cPanelSection:hover {
  background:#000;
  flex:2;
  border-right:1px solid #f0f0f0;
  border-left:1px solid #f0f0f0;
}

.cPanelContent > div:first-child {
  border-left:none;
}

.cPanelContent > div:last-child {
  border-right:none;
}

.cPanelContent > div:last-child:after {
  display:none;
}

.cPanelContent > div:after {
  position:absolute;
  top:50%;
  left:100%;
  transform:translate(-50%, -50%);
  z-index:1;
  opacity:1;
  padding:5px 13px;
  border-radius:50%;
  background:#000;
  transition:0.3s;
  -moz-transition:0.3s;
  -o-transition:0.3s;
  -webkit-transition:0.3s;
  content: "\21D2";
	font-size:25px;
  font-family: FontAwesome;
  color:#f0f0f0;
}

.cPanelContent h5 {
  color:#f0f0f0;
  font-weight:400;
}

.cPanelContent p {
  font-size:14px;
  color:#f0f0f0;
  padding:0 10%;
}

.cPanelArrowPulse {
  position:absolute;
  width:0%;
  padding-bottom:0%;
  border-radius:50%;
  top:50%;
  left:100%;
  transform:translate(-50%, -50%);
  background:#f0f0f0;
  opacity:0;
  z-index:2;
  
  animation-name:cPanelArrowPulseAnimation;
  animation-duration:2s;
  animation-iteration-count:infinite;
  animation-timing-function:ease-out;
}

@keyframes cPanelArrowPulseAnimation {
  0% { opacity:1; width:0%; padding-bottom:0%; }
  50% { opacity:0; width:20%; padding-bottom:20%; }
  100% { opacity:0; width:0%; padding-bottom:0%; }
}
.chatC{
  margin: 30px;
}
.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  width: 100%;
  /* background: gold; */
  font-size: 37px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}